
<div class="card">

    <div class="header">

        <div class="photo">
            <img src="<%= user.photo%>" alt="profile-img" class="profile-photo">
        </div>

        <h4 class="card-title"><%= user.firstName %> <%= user.lastName %></h4>
        <div class="card-email">
            <a href="mailto:<%= user.email %>"><i class="fas fa-envelope-open-text fa-2x"></i></a>
        </div>
        
        <hr>
        <p class="card-text text-left">About me: <%= user.bio %></p>
        <hr>
        <p class="card-text text-left">Department: <%= user.department %></p>
        <p class="card-text text-left">Title: <%= user.title %></p>
        <p class="card-text text-left">Preferred Method of Communication: <%= user.communication %></p>
        <p class="card-text text-left">Some of my interests: <%= user.interests %></p>
        <p class="card-text text-left">Favorite Parts of my Job: <%= user.favorite_job_tasks %></p>
        <p class="card-text text-left">What I want to learn in 2020: <%= user.to_learn %></p>
        

    </div>

    <hr>

    <div class="content">
        <a href="/profile/edit" class="btn btn-primary">update</a>
        <button class="btn btn-primary" onclick="return confirm('Are you sure you want to delete your profile?'), profileDelete()">delete profile</button>
        <% if (user) { %>
            <button class="btn btn-primary" onclick="appLogout()">Logout</button>
        <% } %>

    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

