
<div class="card">

    <div class="header">
        <h4 class="card-title"><%= user.firstName %> <%= user.lastName %></h4>
        <p class="card-text text-left"><%= user.email %></p>
        <p class="card-text text-left">Department: <%= user.department %></p>
        <p class="card-text text-left">Title: <%= user.title %></p>
        <p class="card-text text-left">Bio: <%= user.bio %></p>
        <p class="card-text text-left">Strengths: <%= user.strengths%></p>
        <p class="card-text text-left">Weaknesses: <%= user.weaknesses %></p>
        <p class="card-text text-left">Goals: <%= user.goals %></p>
    </div>
    <div class="photo">

    </div>
    <hr>
    <div class="content">
        <a href="/profile/edit" class="btn btn-primary">update</a>
        <a href="/profile/delete" class="btn btn-primary">delete profile</a>
    </div>
</div>

