
<div class="card">

    <div class="header">

        <div class="photo">
            <img src="<%= user.photo%>" alt="profile-img" class="profile-photo">
        </div>

        <h4 class="card-title"><%= user.firstName %> <%= user.lastName %></h4>
        <div class="card-email">
            <a href="mailto:<%= user.email %>"><i class="fas fa-envelope-open-text fa-2x"></i></a>
        </div>
        
        <hr>
        <p class="card-text text-left">About me: <%= user.bio %></p>
        <hr>
        <p class="card-text text-left">Department: <%= user.department %></p>
        <p class="card-text text-left">Title: <%= user.title %></p>
        <p class="card-text text-left">Preferred Method of Communication: <%= user.communication %></p>
        
        <p class="card-text text-left">My Strengths:  
            <ul class="card-text text-left" id="userSkills">

            </ul>  
        </p>
        <p class="card-text text-left">Areas for Improvement: 
            <ul class="card-text text-left" id="userWeaknesses">

            </ul>  
        </p>
        <p class="card-text text-left">What I want to learn:
            <ul class="card-text text-left" id="userGoals">

            </ul>  
        </p>
    </div>

    <hr>

    <div class="content">
        <a href="/profile/edit" class="btn btn-primary">update</a>
        <button class="btn btn-primary" onclick="return confirm('Are you sure you want to delete your profile?'), profileDelete()">delete profile</button>
        <% if (user) { %>
            <button class="btn btn-primary" onclick="appLogout()">Logout</button>
        <% } %>

    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>


<script type="text/javascript">

    let userSkills = document.getElementById("userSkills"); 
    axios.get('/api/user-skills')
    .then(function (response) {
        console.log('res', response); 
        for (let i=0; i<response.data.length; i++){
            const strengths = Object.values(response.data[i].userSkill.strengths);
            const strength = strengths[2];
        
            let optionSkill = document.createElement('li');
            userSkills.append(optionSkill);
            optionSkill.innerText = strength ;
        }
    });

    axios.get('/api/user-skills')
    .then(function (response) {
        console.log('res', response); 
        for (let i=0; i<response.data.length; i++){
            const weaknesses = Object.values(response.data[i].userSkill.weaknesses);
            const weakness = weaknesses[2];
        
            let optionWeakness = document.createElement('li');
            userWeaknesses.append(optionWeakness);
            optionWeakness.innerText = weakness;
        }
    });

    axios.get('/api/user-skills')
    .then(function (response) {
        console.log('res', response); 
        for (let i=0; i<response.data.length; i++){
            const goals = Object.values(response.data[i].userSkill.goals);
            const goal = goals[2];
        
            let optionGoal = document.createElement('li');
            userGoals.append(optionGoal);
            optionGoal.innerText = goal;
        }
    });

    
</script>
