<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link rel='stylesheet' href='/css/profile.css'></link>
</head>
    <body>
        <nav>
            <%- include('../partials/navigation.ejs') -%>
        </nav>

    <% if (user) { %>
    <div class="card w-100">
        <form class="container-fluid">
            <div class="photo">
                <img src="<%= user.photo%>" alt="profile-img" class="profile-photo">
            </div>

            <h4 class="card-title"><%= user.firstName %> <%= user.lastName %></h4>
            
            <hr>
            <input style="display:none;" id="user" value="<%= user.id %>" />
            <p class="text-left">
                <label class="card-text" for="title">Title </label>
                <input class="w-75" type="text" name="title" id="title" value="<%= user.title %>" autocomplete="off" />
            </p>

            <p class="text-left">
                <label class="card-text" for="department">Department <label>
                <input class="w-75" type="text" name="department" id="department" value="<%= user.department %>"autocomplete="off" />
            </p>

            <p class="text-left">
                <label class="card-text" for="communication">Preferred Method of Communication <label>
                <input class="w-75" type="text" name="communication" id="communication" value="<%= user.communication %>"autocomplete="off" />
            </p>

            <p class="text-left"> 
                <label class="card-text" for="bio">Bio </label>
                <textarea rows="4" class="w-100" name="bio" id="bio" autocomplete="off"><%= user.bio %></textarea>
            </p>

            <p class="text-left">
                <label for="skill" class="card-text">My Interests</label>
                <textarea rows="4" class="w-100" name="interests" id="interests" autocomplete="off"><%= user.interests %></textarea>
            </p>

            <p class="text-left">
                <label class="card-text" for="favorite_job_tasks">Favorite Aspects of my Job</label>
                        <textarea rows="4" class="w-100" name="favorite_job_tasks" id="favorite_job_tasks" autocomplete="off"><%= user.favorite_job_tasks %></textarea>
            </p>

            <p class="text-left">
                <label class="card-text" for="to_learn">What I want to learn in 2020</label>
                        <textarea rows="4" class="w-100" name="to_learn" id="to_learn" autocomplete="off"><%= user.to_learn %></textarea>
            </p>

            <button
                class="btn btn-primary"
                type="submit"
                onclick="submitProfileUpdate(event)"
            >
            save
            </button>
        </form>
    </div>
 <% } %>

    </body>



<footer>
    <%- include('../partials/footer') -%>
</footer>

</html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/script.js"></script>

<script type="text/javascript">
//TO DO: combine separate functions into looped function

    function submitProfileUpdate(event) {
        console.log('you clicked me');
        event.preventDefault();
        let title_input = document.getElementById('title').value;
        let department_input = document.getElementById('department').value;
        let bio_input = document.getElementById('bio').value;
        let communication_input = document.getElementById('communication').value;
        let favorite_input = document.getElementById('favorite_job_tasks').value;
        let interests_input = document.getElementById('interests').value;
        let to_learn_input = document.getElementById('to_learn').value;
        let user_id = document.getElementById('user').value;
        
        let data = {
            title: title_input,
            department: department_input,
            bio: bio_input,
            communication: communication_input,
            interests: interests_input,
            favorite_job_tasks: favorite_input,
            to_learn: to_learn_input,
            user_id: user_id
        };

    profileUpdate(data)
   // createSkillAssociation(skillsData)
    .then(res => {
        //console.log('done!', res);
        window.location.href = '/profile';
        
    })
    .catch(err => {
        // response failed
    });

    }
</script>
