<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href='../css/styles.css'></link>
    <link rel='stylesheet' href='../css/profile.css'></link>
</head>

<body>

    <nav>
        <%- include('../partials/navigation.ejs') -%>
    </nav>

        <!-- <% users.forEach(function(user){ %>
            <%- include('../partials/user-profile-card', {id: id}) -%>
        <% }); %> -->
        <%- include('../partials/user-profile-card') -%>

    
    <footer>
        <%- include('../partials/footer') -%>
    </footer>


    <script rel="text/javascript">
        console.log('user-profile page');
        function appLogout(user) {

            logoutUser(user);

        }
        //getOneUser();


    </script>
</body>
</html>